        @media (min-width: 1601px) {
            .quotes {
                // position: absolute;
                // top: -9vh;
                // left: 15%;
                // width: 19.1071%;
                display: none;
            }
            .slider-1 {
                position: relative;
                height: 100vh;
                width: 100%;
            }
            .slider-2 {
                position: relative;
                height: 100vh;
                width: 100%;
            }
            .testimony {
                width: 43.75%;
                height: 34.8611%;
                /* border: 1px solid black; */
                position: absolute;
                top: 37%;
                left: 11%;
            }
            .msg {
                font-weight: 500;
                color: #8D8C9D;
                font-size: 56px;
            }
            .author {
                display: flex;
                margin-top: 100px;
            }
            .name {
                font-weight: 700;
                margin-right: 17px;
                font-size: 39px;
            }
            .position {
                font-weight: 300;
                font-size: 39px;
            }
            //     // //Profile
            .profile {
                position: relative;
                float: right;
                //         // margin: auto;
                // z-index: -1;
                height: 100vh;
                width: 50%;
            }
            .img {
                position: absolute;
                // top: 84px;
                // left: 52px;
                // height: 450px;
                width: 74.6875%;
                height: 67.7778%;
                top: 14.1667%;
                right: 23.0469%;
                -webkit-box-shadow: -95px 141px 30px -112px rgba(186, 186, 207, 0.6);
                box-shadow: -205px 296px 58px -227px rgba(186, 186, 212, 0.6);
            }
            .buttons {
                display: flex;
                position: absolute;
                // top: 508px;
                // left: 82px;
                // width: 105px;
                // padding: 16px;
                // border-radius: 30px;
                width: 15.7031%;
                top: 78.125%;
                right: 73.8281%;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 40px 35px;
                border-radius: 70px;
                background: white;
            }
            .left-button {
                height: 35px;
                width: 21px;
            }
            .left-button:hover {
                cursor: pointer;
            }
            .right-button {
                width: 21px;
                height: 35px;
            }
            .right-button:hover {
                cursor: pointer;
            }
            .pattern-right {
                position: absolute;
                z-index: -1;
                // height: 538px;
                // top: 36px;
                height: 82.2222%;
                width: 99.7969%;
                top: 6.25%;
                right: 10.0781%;
            }
            .pattern-bottom {
                // display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 41.9922%;
                height: 19.2361%;
                z-index: -1;
            }
        }